$primary:       #490c66 !default;
$secondary:     #ea1d75 !default;
$success:       #00bbb3 !default;
$info:          #ff8422 !default;  //bhud
$warning:       #fcd700 !default;
$danger:        #fa6560 !default; //bhud

$enable-rounded:            false !default;
$enable-shadows:            true  !default;
$enable-gradients:          true  !default;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables.scss";

$fa-font-path: "/dist";
@import "~font-awesome/scss/font-awesome.scss";

body {
    font-family: 'Noto Sans', sans-serif;
}

#about {
    background-color: #e7e7e7;
    padding: 2em;
}

#contacts {
    background-color:#e7e7e7; 
    margin-top: 6em;
    padding: 2em;
}

#landing-footer {
    background-color: $primary;
    padding: 2em;
    color: lighten($primary, 50%);
}

[fade-in] {
    opacity: 0;
}

.faded[fade-in] {
    opacity: 1;

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}